@using BlazorApp.Web.Services

@inject AuthService Auth

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    @if(!isAuthenticated)
    {
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Autenticar
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="criar-usuario">
                    <span class="oi oi-plus" aria-hidden="true"></span> Criar Usuário
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="recuperar-senha">
                    <span class="oi oi-envelope-open" aria-hidden="true"></span> Recuperar Senha
                </NavLink>
            </div>
        </nav>
    }
    else
    {
        <nav class="flex-column">            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/cadastrar-estoques">
                    <span class="oi oi-plus" aria-hidden="true"></span> Cadastrar Estoques
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="admin/consultar-estoques">
                    <span class="oi oi-list" aria-hidden="true"></span> Consultar Estoques
                </NavLink>
            </div>
        </nav>
    }
</div>

@code {
    private bool collapseNavMenu = true;
    private bool isAuthenticated = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await Auth.IsSigningIn();
    }
}
